.HeadBar{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 20px;
    color: white;
    background: rgb(199, 77, 6);
  }
  .logo{
      width: 30%;
      height: 30%;
      justify-content: space-evenly;
  }
.bar{
    font-family: serif;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
  }