.HeadBar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 0px;
    color: white;
    background: rgb(199, 77, 6);
  }
  .logo{
    padding-top:5px;
    width: 100%;
    height: auto;
  }
  .logoLink{
    width:20%;
    height:auto;
  }

.bar{
    font-family: serif;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
  }